.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
.DS_Store
public/assets

# Ignore application configuration
/config/application.yml
# React on Rails
npm-debug.log*
node_modules

# Generated js bundles
/app/assets/webpack/*
