.palette-container .column {
  min-height: 50px;
}

.red { background-color: $red; }
.blue { background-color: $blue; }
.yellow { background-color: $yellow; }
.orange { background-color: $orange; }
.green { background-color: $green; }
.dark-green { background-color: $dark-green; }
.magenta { background-color: $magenta; }
.violet { background-color: $violet; }
.cyan { background-color: $cyan; }
.white { background-color: $white; }
.black { background-color: $black; }

.darker-blue { background-color: $darker-blue; }
.dark-blue { background-color: $dark-blue; }
.dark-grey { background-color: $dark-grey; }
.grey { background-color: $grey; }
.light-grey { background-color: $light-grey; }
.lighter-grey { background-color: $lighter-grey; }
.darker-white { background-color: $darker-white; }
.dark-white { background-color: $dark-white; }
.white { background-color: $white; }
.grey { background-color: $grey; }


