<style>
</style>

<div class="container palette-container">
  <div class="columns">
    <div class="column col-1 darker-blue"></div>
    <div class="column col-1 dark-blue"></div>
    <div class="column col-1 dark-grey"></div>
    <div class="column col-1 grey"></div>
    <div class="column col-1 light-grey"></div>
    <div class="column col-1 lighter-grey"></div>
    <div class="column col-1 darker-white"></div>
    <div class="column col-1 dark-white"></div>
    <div class="column col-1 white"></div>
    <div class="column col-1 blue"></div>
    <div class="column col-1 yellow"></div>
    <div class="column col-1 orange"></div>
  </div>
  <div class="columns">
    <div class="column col-1 red"></div>
    <div class="column col-1 green"></div>
    <div class="column col-1 dark-green"></div>
    <div class="column col-1 magenta"></div>
    <div class="column col-1 violet"></div>
    <div class="column col-1 cyan"></div>
    <div class="column col-1"></div>
    <div class="column col-1"></div>
    <div class="column col-1"></div>
    <div class="column col-1"></div>
  </div>
</div>
