.navbar {
  .btn.btn-link {
    color: #75b500;

    &:hover {
      background: transparent;
      border: 1px solid #75b500;
      color: #75b500;
    }
  }

  .navbar-brand {
    font-size: 2.5rem;
    padding: 0.5em 1.2em 0.5em 1.2em
  }

  .navbar-brand:hover {
    background-color: $dark-blue;

    .glitch {
      color: $white;
      &:after {
        color: $white;
        background: $dark-blue;
        
      }
      &:before {
        color: $white;
        background: $dark-blue;

      }
    }
  }
}
